.idea/**/*
location-search.iml
.gradle/**/*
**/build/**/*
**/build-info.properties
**/out/**/*
**/logs/**/*
application/application.properties
cdc-provider/application.properties
**/.DS_Store
cdc-test/target/**/*